{% extends "inner.html" %}
{% load project_tags %}
{% block title %}Создать тест{% endblock %}

{% block page_heading %}Создать тест{% endblock %}

{% block inner_content %}

    <ul class="nav nav-tabs">
      <li class="active"><a href="{% url "create_test" %}{% if form.instance %}{{ form.instance.id }}/{% endif %}">Свойства</a></li>
    {%  if form.instance.id %}
      <li><a href="{% url "create_questions"%}{{ form.instance.id }}/">Вопросы</a></li>
    {% endif %}
    </ul>

     {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <form action="." method="post">
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="form-group {% if form.title.errors %}has-error{% endif %}">
            <label class="control-label" for="id_title">Название теста:</label>
            {{ form.title|addcss:"form-control" }}

        </div>
        {{ form.title.errors }}

        <div class="form-group {% if form.description.errors %}has-error{% endif %}">
            <label class="control-label" for="id_description">Описание теста:</label>
            {{ form.description|addcss:"form-control" }}

        </div>
        {{ form.description.errors }}

        <div class="form-group {% if form.is_active.errors %}has-error{% endif %}">
            <label class="control-label" for="id_is_active">
            {{ form.is_active }}Опубликован
            </label>
        </div>
        {{ form.is_active.errors }}
        {% csrf_token %}

        <input type="submit" name="save" value="Сохранить" class="btn btn-default"/>   <input type="submit" name="exit" value="Сохранить и выйти" class="btn btn-default"/> {%  if form.instance.id %}<input type="submit" name="delete" value="Удалить" class="btn btn-danger"/>{% endif %}
    </form>


{% endblock %}
