{% extends "inner.html" %}
{% load project_tags %}
{% block title %}Создать тест{% endblock %}

{% block page_heading %}Создать тест{% endblock %}


{% block extra_head %}
    <script type="text/javascript">
    $.validator.setDefaults({

        errorPlacement: function(error, element) {
            error.appendTo('#error_list_' + element.attr('id'));

        }
    });

    $(document).ready(function(){


	    // validate signup form on keyup and submit
        $("#create_question_form").validate({
            ignore: "", // проверяем все поля, а не только видимые
            rules: {
                "title": {required: true},
                "description": {required: true},
                "ord": {
                          required: true,
                          digits: true
                       }

            },
            messages: {
                "title": {required: "Обязательное поле"},
                "description": {required: "Обязательное поле"},
                "ord": {
                          required: "Обязательное поле",
                          digits: "Введите целое число"

                      }

            },
            wrapper: "li",
            highlight: function(element) {
                $(element).parent('div').addClass("has-error");
            },
            unhighlight: function(element) {
                $(element).parent('div').removeClass("has-error");
            },
            invalidHandler: function(event, validator) {
                var errors = validator.numberOfInvalids();
                if(errors)
                    $('#answers_tabs a:first').tab('show');
            }


        });

    });

    function createQuestion(){
        $("#myModalLabel").html('Создать вопрос');
        $("#id_title").val('');
        $("#id_description").val('');
        $("#id_ord").val('');
        $("#answers_block").empty();
        $('#answers_tabs a:first').tab('show');
        $('#createQuestionModal').modal('show');
    }


    function editQuestion(id){
        $.get("/mytests/getquestiondetails/" + id + "/", function(data){

            //alert(data)
            $("#myModalLabel").html('Редактировать вопрос');
            $("#id_id").val(id);
            $("#id_title").val(data[0].fields.title);
            $("#id_description").val(data[0].fields.description);
            $("#id_ord").val(data[0].fields.ord);

            $("#answers_block").empty();

            var all_answers = '';

            //set answers fields
            for(var i = 1; i < data.length; i++){
                var checked = (data[i].fields.is_correct) ? 'checked="true"' : '' ;
                all_answers += '<div class="form-group well well-sm"><label style="float:right; font-weight:normal" for="q_delete_'+ data[i].pk +'">Удалить <input type="checkbox" value="1" id="q_delete_' + data[i].pk + '" name="q_delete_' + data[i].pk + '"/></label><div><input type="hidden" name="q_id" value="' + data[i].pk + '"/><label class="control-label">Вариант ответа:</label><textarea type="text" name="q_title_'+data[i].pk+'" class="form-control">' + data[i].fields.title + '</textarea> </div><div><label class="control-label">Вес:</label><input type="text" name="q_weight_'+data[i].pk+'" value="' + data[i].fields.weight + '"  class="form-control"/></div><div><input name="q_is_correct_'+data[i].pk+'"  type="checkbox" ' + checked +' value="1"/> Является верным </div></div>';

            }

           if(all_answers)
                $("#no_answer_variants").addClass('hide');
           else
                $("#no_answer_variants").removeClass('hide');


            $("#answers_block").append(all_answers);


            $('#answers_tabs a:first').tab('show');
            $('#createQuestionModal').modal('show');
        });


    }

     function deleteQuestion(id, objname){

            $('#delbtn').unbind('click');
            $('#objname').html(objname);
            $("#delbtn").click(function(){
                //alert(id);
                window.location.href='{% url 'delete_question' %}'+ id +'/'
            });
            $(".alert").show();
     }


    var new_answer_cnt = 0;

    function createAnswer(){

        answer_div = '<div class="form-group well well-sm"><button class="close" onclick="deleteAnswer(this);" type="button" aria-hidden="true">&times;</button><div><input type="hidden" name="nq_id" value="' + new_answer_cnt + '"/><label class="control-label">Вариант ответа:</label><textarea type="text" name="nq_title_'+new_answer_cnt+'" class="form-control"></textarea> </div><div><label class="control-label">Вec:</label><input type="text" name="nq_weight_'+ new_answer_cnt +'"class="form-control" value="0"/></div><div><input  type="checkbox" name="nq_is_correct_' + new_answer_cnt + '"  value="1"/> Является верным </div></div>';
        $("#answers_block").append(answer_div);

        if($("#answers_block").html())
            $("#no_answer_variants").addClass('hide');

        new_answer_cnt++;
    }

    function deleteAnswer(obj){
        var div_to_remove = obj.parentNode;
         div_to_remove.parentNode.removeChild(div_to_remove);

        if (!$("#answers_block").html())
            $("#no_answer_variants").removeClass('hide');
        //alert(obj.parentNode.nodeName);
    }



     function closeAlert(){
           $('#delbtn').unbind('click');
           $('#objname').html('');
           $(".alert").hide();
     }




    </script>

{% endblock %}

{% block inner_content %}

    <ul class="nav nav-tabs">
      <li><a href="{% url "create_test" %}{% if questionnaire_id %}{{ questionnaire_id }}/{% endif %}">Свойства</a></li>
      <li class="active"><a href="{% url "create_questions" %}{% if questionnaire_id %}{{ questionnaire_id }}/{% endif %}">Вопросы</a></li>
    </ul>

     <!-- alert -->

    <div class="alert alert-danger fade in" style="display: none">
      <button type="button" class="close" aria-hidden="true" onclick="closeAlert();">&times;</button>
      <h4>Внимание!</h4>
      <p>Вы действительно хотите удалить объект <span id="objname" style="font-weight: bold"></span>?</p>
      <p>
        <button type="button" class="btn btn-danger" id="delbtn">Удалить</button>
        <button type="button" class="btn btn-default" onclick="closeAlert();">Отменить</button>
      </p>
    </div>
  <!-- alert END -->

<!-- create question modal-->
    <div class="modal fade" id="createQuestionModal" tabindex="-1" role="dialog" aria-labelledby="createQuestionModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Создать вопрос</h4>
          </div>
             <form action="." method="post" id="create_question_form" name="create_question_form">
              <div class="modal-body">

                  <ul class="nav nav-tabs" id="answers_tabs">
                      <li class="active"><a href="#main_tab" data-toggle="tab">Основное</a></li>
                      <li><a href="#answer_variants_tab" data-toggle="tab">Варианты ответа</a></li>

                    </ul>
                    <div class="tab-content">
                    <div class="tab-pane active" id="main_tab">
                    <input type="hidden" id="id_id" name="id" value=""/>
                    <div class="form-group ">
                        <label class="control-label" for="id_title">Краткое название вопроса:</label>
                        {{ nform.title|addcss:"form-control" }}
                        <ul class="errorlist" id="error_list_id_title">
                        </ul>

                    </div>

                    <div class="form-group ">
                        <label class="control-label" for="id_description">Текст вопроса:</label>

                        {{ nform.description|addcss:"form-control" }}
                         <ul class="errorlist" id="error_list_id_description">
                        </ul>
                    </div>

                    <div class="form-group ">
                        <label class="control-label" for="id_ord">Порядок сортировки:</label>
                      {{ nform.ord|addcss:"form-control" }}
                        <ul class="errorlist" id="error_list_id_ord">
                        </ul>

                    </div>
                    </div>
                    <div class="tab-pane" id="answer_variants_tab">
                         <div class="alert alert-info" id="no_answer_variants">
                            <p>В этом вопросе еще нет вариантов ответов</p>
                        </div>

                    <div id="answers_block"></div>
                   <!--<div class="form-group" style="border-bottom: 1px solid #ccc">
                       <div><input type="text" class="form-control" placeholder="Текст ответа"/> </div>
                       <div><input type="text"  class="form-control"  placeholder="Вес ответа"/> </div>
                       <div><input  type="checkbox"/> Является верным </div>

                   </div>-->
                         <button type="button" class="btn btn-default" onclick="createAnswer();">Добавить вариант ответа</button>
                   </div>

                </div>
              </div>



              <div class="modal-footer">
                   {% csrf_token %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <input type="submit" class="btn btn-primary" value="Сохранить">
              </div>
         </form>
        </div>
      </div>
    </div>
<!-- create question modal END-->

      <button type="button" class="btn btn-default"  style="float: right" onclick="createQuestion();">Создать вопрос</button>
    <div style="clear: both; padding:10px"></div>
        <div class="table-responsive">
        {% if questions %}
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th style="width: 40%">Краткое название вопроса</th>

                  <th>Вариантов ответа</th>
                  <th>Порядок сортировки</th>
                  <th style="text-align: right">Действия</th>
                </tr>
              </thead>
              <tbody>
              {% for question in questions %}
                <tr>
                  <td>{{ question.id }}</td>
                  <td>{{ question.title }}</td>
                  <td><span class="badge">{{ question.objects_count }}</span></td>
                  <td>
                    {{ question.ord }}
                  </td>
                  <td  align="right">
                      <button type="button" class="btn btn-success btn-xs" onclick="editQuestion({{ question.id }});">Редактировать</button>
                      <button type="button" class="btn btn-danger btn-xs" onclick="deleteQuestion({{ question.id }}, '{{ question.title }}');">Удалить</button>
                  </td>
                </tr>

              {% endfor %}
              </tbody>
            </table>
         {% else  %}
            <div class="alert alert-info">
                <p>В этом тесте еще нет вопросов</p>
            </div>
         {% endif %}
          </div>
{% endblock %}
