{% extends "inner.html" %}
{% load project_tags %}
{% block title %}Мои тесты{% endblock %}
{% block extra_head %}
    <!-- Bootgrid files -->
    <script src="{{ STATIC_URL }}js/jquery.bootgrid.min.js"></script>
    <link href="{{ STATIC_URL }}css/jquery.bootgrid.css" rel="stylesheet">
    <!-- Bootgrid files END -->
    <script type="text/javascript">

    $(document).ready(function(){
        $("#grid-data").bootgrid(
                {
                    ajax: true,
                    post: function ()
                    {

                    },
                    url: "{% url 'account_data' %}",
                    formatters: {
                        "actions": function(column, row)
                        {

                            return "<button type=\"button\" class=\"btn btn-success btn-xs\" onclick=\"window.location.href = '{% url 'create_test' %}"+ row.id +"/'\">Редактировать</button> <button type=\"button\" class=\"btn btn-danger btn-xs\" onclick=\"deleteTest("+ row.id +", '"+ row.title +"');\">Удалить</button>";
                        },
                        "is_active": function(column, row)
                        {
                            if(row.is_active == true)
                                return "<span class=\"glyphicon glyphicon-ok\"></span>";
                            else
                                return "<span class=\"glyphicon glyphicon-remove\"></span>";
                        },
                        "questions": function(column, row)
                        {
                            return "<span class=\"badge\">" + row.questions + "</span>";
                        }

                    },

                    rowCount: [1, 2, 5, 10]
                }

        );
    });


        function deleteTest(id, objname){

            $('#delbtn').unbind('click');
            $('#objname').html(objname);
            $("#delbtn").click(function(){
                //alert(id);
                window.location.href='{% url 'delete_test' %}'+ id +'/'
            });
            $(".alert").show();
        }

        function closeAlert(){
           $('#delbtn').unbind('click');
           $('#objname').html('');
           $(".alert").hide();
        }

    </script>

{% endblock %}

{% block page_heading %}Мои тесты{% endblock %}

{% block inner_content %}

    <!-- alert -->

    <div class="alert alert-danger fade in" style="display: none">
      <button type="button" class="close" aria-hidden="true" onclick="closeAlert();">&times;</button>
      <h4>Внимание!</h4>
      <p>Вы действительно хотите удалить объект <span id="objname" style="font-weight: bold"></span>?</p>
      <p>
        <button type="button" class="btn btn-danger" id="delbtn">Удалить</button>
        <button type="button" class="btn btn-default" onclick="closeAlert();">Отменить</button>
      </p>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

  <!-- alert END -->
    <button type="button" class="btn btn-default" onclick="window.location.href='{% url 'create_test' %}'" style="float: right">Создать тест</button>
    <div style="clear: both; padding:10px"></div>

            <table id="grid-data" class="table table-hover table-responsive">
              <thead>
                <tr>
                  <th data-column-id="id" data-sortable="true" data-identifier="true" data-type="numeric">#</th>
                  <th data-column-id="title" data-sortable="true" style="width: 40%">Название теста</th>
                  <th data-column-id="questions" data-sortable="false" data-formatter="questions">Вопросов</th>
                  <th data-column-id="create_date" data-sortable="true">Дата создания</th>
                  <th data-column-id="is_active" data-sortable="true" data-formatter="is_active">Опубликован</th>
                  <th style="text-align: right" data-sortable="false" data-column-id="actions" data-formatter="actions">Действия</th>
                </tr>
              </thead>

            </table>


{% endblock %}
